*.pyc
*.pyo
.sqlite3
.idea/dataSources.local.xml
.idea/dataSources/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xml_parser_dblp.iml
.idea/xml_parser_dblp2.iml
analysis/__pycache__/
backend/__pycache__/
backend/backend/__pycache__/
conf/__pycache__/
backend/harvester/__pycache__/
backend/harvester/migrations/
backend/harvester/tests/DBLP_HARVESTER.log
mysqlWrapper/__pycache__/
backend/oai/__pycache__/
dblp.dtd
dblp.xml
sharpenv/
celerybeat-schedule